.obsidian/cache
.trash/
.DS_Store
pythonenv3.8
.obsidian/todoist-token
.venv
zz/

# Dendron specific stuff
node_modules/
.dendron.*
build
.next
.history
seeds
package*.json
yarn.lock
pods/service-connections

.backup